<main>
  <div class="container">
    <h1>The Door Store</h1>
    <h2>The one stop shop for all your needs in doors!</h2>
    <p style="width: 100%; text-align: center">If the website has not been accessed in a while it is possible that the backend has went into sleep mode. If signup/signin is not working, please try again later in one or two minutes</p>
    <p style="width: 100%; text-align: center">If you are having trouble logging in or registering, try using your mouse to press the buttons instead of the enter key, as this causes issues on some browsers</p>
    <app-signin></app-signin>
    <app-signup></app-signup>
  </div>
</main>
