main {
  background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;

  color: white;
  h1 {
    font-size: 350%;
    padding: 30px;
    font-weight: lighter;
  }
  .productContainer {
    width: 97.5%;
    display: flex;
    margin: 0 auto;
  }
  .productlist{
    width: 80%;
  }

  app-product-list {

  }
  .cart {
    width: 20%;
    padding: 5px;
  }


}
